footer {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 30px 10px;
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    height: 258px;
}

.column-inner {
    display: flex;
    gap: 50px;
}

footer h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin-bottom: 3px;
}